*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav{
background-color: rgb(165, 219, 17);
height: 45px;

}
.banner{
    border-style:solid;
  border-color:yellow;
  height:150vh;
  gap:20px;
  display: flex;
}
.box{
    border-style:solid;
    border-color:rgb(255, 102, 0);
    height:78vh;
    display: flex;
    flex-direction: column;
  
    gap:20px;
    
    display: flex;
    flex: 1;

}

.box2{
    border-style:solid;
    border-color:rgb(0, 60, 255);
    height:115vh;
    display: flex;
    flex-direction: column;
  flex-wrap: nowrap;
    flex: 1;
    padding-top: 20px;

}

.left-side{
    border-style:solid;
    border-color:rgb(255, 0, 255);
    height:95vh;
    width: 50vw;
   display: flex;
   flex-direction: row;
    gap: 10%;
    flex: 1;
    top: 30px;

}
/* .rith-side{
    border-style:solid;
    border-color:rgb(157, 255, 0);
    height:65vh; 
    width: 50vw;
} */

.footer{
    border-style:solid;
    border-color:rgb(255, 208, 0);
    height: 50vh;
    display: flex;
    gap: 20px;
}
.footer-section{
    border-style:solid;
    border-color:rgb(0, 255, 179);
    height: 40vh;
    flex: 1;
}
.shoes{
    border-style:solid;
    border-color:rgb(255, 38, 0);
    height: 75vh; 
    display: flex;
}
.products{
    border-style:solid;
    border-color:rgb(0, 81, 255);
    height: 33vh; 
    flex: 1;
}